<h1> Game over </h1>

<p> Sorry! You've run out of guesses! The word was <%= word %> </p>

<form action='/game/new' method="GET">
  <input type="submit" value="Click here to play a new game!">
</form>