<h1> Play Hangman! </h1>

<link rel="stylesheet" href="/css/base.css">

<form action='/game/new' method="POST">
  <div>Select a difficulty and let's begin!</div>
  <!-- Technically there's words with more than 30 chars in enable.txt but I feel 30 is plenty. -->
  <div id="dif_input"><input type="number" name="difficulty" min="2" max="30"></div>
  <input type="submit" text="Let's Play!">
</form>